* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: white;
  color: #000;
}

body {
  font-size: 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav a,
nav a:visited {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

main {
  margin: auto;
}

section {
  margin: 5em 1em 1em 1em;
}

article {
  margin: 0.5em;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.headerTitle {
  position: fixed;
  right: 1em;
}

.circularPreloader {
  position: fixed;
  top: 50%;
  left: 50%;
}
.iconRoot {
  text-align: 'center';
}
.linkIcon {
  color: white;
}
.imageBox {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)) !important;
  color: white;
}
.movieItemIcon {
  color: rgba(255, 255, 255, 0.9) !important;
}
